body{
  background-image: linear-gradient(to bottom, rgba(146, 146, 146, 0.5), rgba(70, 70, 72, 0.5)),
   url('https://i.ibb.co/48bHnHm/Rectangle-1.png');
 background-size: 100%;
 margin:0;
  padding:0;
  height: 100vh;
 /* background-size: 1450px; */
  background-clip: border-box;
  background-repeat: no-repeat;
 
 
}


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
